.background-img {
   background-image: url(/images/background-landing.jpg);
   background-position-x: center;
   background-position-y: top;
   background-repeat: no-repeat;
   background-color: $black;
}

h1 {
   color: $white;
   font-family: $font-family-brand;
   font-size: $font-size-base * 3.75;
}

.card {
   border: 0;
}

.card-body {
   color: $white;
   font-family: $font-family-serif;
   font-size: $font-size-base * 1.25;
}

.card.bg-primary {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.card.bg-secondary {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.landing-card-text {
   color: $black;
   font-family: $font-family-serif;
   margin-bottom: 1rem;
}

.get-signed-up {
   color: $success;
}

.btn-link {
   padding-left: 0;
   padding-right: 0;
   border: 0;
   font-weight: $font-weight-bold;
}

.text-brand {
   font-family: $font-family-brand;
}

.tab-separator {
   border-left: 1px $gray-800 solid;
}

.tab-active {
   background-color: $gray-800;
}

.btn-group .btn {
   font-weight: $font-weight-normal;
}

textarea {
   width: 100%;
   background-color: transparent;

   border: none;
   overflow: auto;
   outline: none;

   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;

   resize: none; //https://stackoverflow.com/a/17110012
}

.card textarea {
   color: $white;
}

.bg-success,
.bg-danger p.lead {
   color: $white;
}

.landing-padding {
   padding: 1rem;
}
